.blog-page-main {
  max-width: 1200px;
  margin: 45px auto;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;
  background: $black2;
  @media screen and (max-width: 1200px) {
    margin: 45px 20px;
  }
  .scroll-container-title {
    color: white;
    text-align: center;
    padding-top: 45px;
    font-family: $font2;
    font-size: 2.4rem;
  }
  .scroll-container {
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    div {
      min-width: 300px;
      scroll-snap-align: center;
      height: 610px;
    }
  }
}
