.article-presentation {
  height: 100%;
  h2 {
    background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
      linear-gradient(transparent calc(100% - 1px), $black2 1px);
    background-size: 0% 6px, 100% 6px;
    background-position: 0 bottom, 0 bottom;
    background-repeat: no-repeat;
    padding-bottom: 6px;
  }
  img {
    max-width: 100%;

    margin: 10px auto;
  }
  p {
    margin-bottom: 10px;
    text-align: justify;
    color: $grey1;
  }
  .article-page-link {
    background: $black2;
    border-radius: 20px;
    padding: 10px 0;
    width: 60%;
    margin: 0 auto;
    a {
      color: $white1;
    }
    &:hover {
      background: $grey1;
    }
  }
}
