.article-presentation {
  height: 100%;
  border-radius: 30px;
  padding: 40px 30px;
  // border: 3px solid $grey1;
  background: $white1;
  box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;
  display: grid;
  grid-template-rows: 20% 30% 40% 1fr;

  h2 {
    background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
      linear-gradient(transparent calc(100% - 1px), $black2 1px);
    background-size: 0% 6px, 100% 6px;
    background-position: 0 bottom, 0 bottom;
    background-repeat: no-repeat;
    padding-bottom: 6px;
    margin-bottom: 25px;
  }

  img {
    height: 155px;
    margin: 0 auto;
  }

  p {
    margin: 25px 0;
    text-align: justify;
    color: $grey1;
  }
  // .article-page-link {
  //   text-align: center;

  a {
    background: $black2;
    color: $white1;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: $font2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    &:hover {
      background: $black1;
    }
  }
  &:hover {
    background: $grey2;
    scale: 101%;
  }
}
// }
