.article-page {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  .header-article-page {
    margin: 65px auto;
    h1 {
      font-size: 3rem;
    }

    .image-article {
      img {
        margin: 55px 0;
        max-width: 90%;
        max-height: 400px;
        box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;
      }
      .article-page-link {
        a {
          margin: 20px;

          color: $black2;
          letter-spacing: 1px;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 900;
          border: 4px solid $black2;
          border-radius: 30px;
          padding: 10px 25px;
          transition: 0.3s ease-out;
          &:hover {
            color: $grey1;
            border: 4px solid $grey1;
            scale: 105%;
          }
        }
      }
    }
  }
  .main-article-page {
    margin: 65px auto;
    box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;
    border-radius: 30px;
    padding: 50px 30px;
    p {
      color: $black2;
      margin: 0 20px;
      text-align: justify;
      line-height: 45px;
    }
    .article-page-link {
      margin: 60px auto;
      a {
        margin: 20px;
        color: $black2;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 900;
        border: 4px solid $black2;
        border-radius: 30px;
        padding: 10px 25px;
        transition: 0.3s ease-out;
        &:hover {
          color: $grey1;
          border: 4px solid $grey1;
          scale: 105%;
        }
      }
    }
  }
}
