footer {
  background: $black2;
  background: linear-gradient(to right, $black2, $grey2);
  color: $white1;
  border-radius: 30px;
  padding: 0 19px;
  max-width: 1200px;
  margin: 0 auto;
  .footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }
  .footer-social-media {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    @media screen and (max-width: 637px) {
      gap: 20px;
    }

    span {
      display: inline-block;
      font-size: 2rem;
      transition: 0.3s ease-out;
      cursor: pointer;
      &:hover {
        color: $black2;
        scale: 105%;
      }
    }
  }
}

.footer-newsletter {
  @include flexCenter;
  flex-direction: column;
  margin-bottom: 40px;
  h2 {
    color: $white1;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 550;
    background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
      linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
    background-size: 0% 6px, 100% 6px;
    background-position: 0 bottom, 0 bottom;
    background-repeat: no-repeat;
    padding-bottom: 6px;
    margin-bottom: 20px;
  }
  form {
    @media screen and (max-width: 388px) {
      @include flexCenter;
      flex-direction: column;
      gap: 10px;
    }

    input[type="email"],
    input[type="submit"] {
      font-family: $font1;
      font-size: 1rem;
      color: $black1;
      text-align: center;
      border: none;
      border-radius: 2px;
      background-color: $white1;
      padding: 5px 30px;
      margin: 0 5px;
      &:focus {
        background: $black1;
        color: $white1;
      }
      &::placeholder {
        color: $black1;
        font-size: 1rem;
        &:focus {
          color: $white1;
        }
      }
      @media screen and (max-width: 388px) {
        display: block;
      }
    }
    input[type="submit"] {
      text-transform: capitalize;
      background: $black2;
      color: $white1;
      cursor: pointer;
      &:hover {
        background: $grey2;
      }
    }
  }
}
