header {
  background: url(../../public/img/home-header.jpg) center/cover;
  max-width: 1200px;
  font-family: $font2;
  border-radius: 30px;
  margin: 0 auto 30px;
  padding: 19px;
  display: grid;
  grid-template-columns: 1fr 25% 25%;
  grid-template-rows: 50% 1fr;
  gap: 20px;
  grid-template-areas:
    "main blog blog"
    "main about contact";
  transform: translateX(-100%);
  animation: animHeader 0.5s ease forwards 50ms;
  @keyframes animHeader {
    to {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 1200px) {
    border-radius: 0;
  }
  @media screen and (max-width: 896px) {
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    grid-template-areas:
      "blog blog"
      "about contact";
  }

  .header-title {
    grid-area: main;
    background: $black2;
    border-radius: 30px;
    padding: 40px;
    color: $white1;
    transition: 0.3s ease-out;
    opacity: 0.87;

    @media screen and (max-width: 896px) {
      display: none;
    }
    &:hover {
      scale: 102%;
      opacity: 0.97;
    }
    .header-title-container {
      gap: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header-title-top {
        h1 {
          width: 100%;
          font-size: 3rem;
          font-family: $font2;
        }
        p {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .header-title-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $black2;
        background: $grey2;
        width: 70%;
        min-width: 250px;
        border-radius: 15px;
        @media screen and (max-width: 896px) {
          display: none;
        }
        .button-left {
          padding: 10px 30px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          p {
            font-family: $font1;
          }
          h3 {
            text-transform: capitalize;
            font-size: 1.4rem;
            letter-spacing: 1px;
            @media screen and (max-width: 1035px) {
              font-size: 1.2rem;
            }
          }
        }
        .button-right {
          display: flex;
          align-items: center;
          padding: 30px;
          height: 100%;
          border-left: 1px solid $black2;
          font-size: 1.2rem;
        }
      }
    }
  }
  .header-links-blog {
    border-radius: 30px;
    grid-area: blog;
    background: $grey2;
    color: $black2;
    padding: 20px;
    transition: 0.3s ease-out;
    opacity: 0.87;
    &:hover {
      scale: 102%;
      opacity: 1;
    }
    .header-links-blog-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 2.4rem;
        font-family: $font2;
      }

      .legend-icon {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 600;
        align-items: center;
        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }
  .header-links-about {
    padding: 20px;
    border-radius: 30px;
    grid-area: about;
    background: $black2;
    color: $white1;
    transition: 0.3s ease-out;
    opacity: 0.87;
    &:hover {
      scale: 102%;
      opacity: 1;
    }
    .header-links-about-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 2.4rem;
        font-family: $font2;
        @media screen and (max-width: 542px) {
          font-size: 1.5rem;
        }
      }

      .legend-icon {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 600;
        align-items: center;
        .icon {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 542px) {
          font-size: 0.7rem;
        }
      }
    }
  }
  .header-links-contact {
    padding: 20px;
    border-radius: 30px;
    grid-area: contact;
    background: $grey2;
    color: $black2;
    transition: 0.3s ease-out;
    opacity: 0.87;
    &:hover {
      scale: 102%;
      opacity: 1;
    }
    .header-links-contact-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;

      h2 {
        font-size: 2.4rem;
        font-family: $font2;
        @media screen and (max-width: 542px) {
          font-size: 1.5rem;
        }
      }

      .legend-icon {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 600;
        align-items: center;
        .icon {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 542px) {
          font-size: 0.7rem;
        }
      }
    }
  }
}
