header {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 19px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  gap: 20px;
  grid-template-areas:
    "main blog blog"
    "main about contact";
  .header-title {
    grid-area: main;
    background: $black2;
    border-radius: 30px;
    padding: 40px;
    color: $white1;
  }
  .header-links-blog {
    border-radius: 30px;
    grid-area: blog;
    background: $grey2;
    color: $black2;
    padding: 20px;
  }
  .header-links-about {
    padding: 20px;
    border-radius: 30px;
    grid-area: about;
    background: rgb(178, 134, 253);
    color: $white1;
  }
  .header-links-contact {
    padding: 20px;
    border-radius: 30px;
    grid-area: contact;
    background: rgb(178, 240, 66);
    color: $black2;
  }
}
