@font-face {
  font-family: "font1";
  src: url(../public/font/Blinker-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "font1", sans-serif;
  color: rgb(20, 20, 20);
  background: rgb(250, 249, 252);
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  padding: 0 19px;
  background: rgb(250, 249, 252);
  display: grid;
  grid-template-columns: 3% 20% 71% 3%;
  gap: 10px;
}
@media screen and (max-width: 750px) {
  .navigation {
    grid-template-columns: 5% 80% 15%;
  }
}
.navigation .navigationBurgerMenu {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .navigationBurgerMenu .navigationBurgerMenuOpen {
  display: block;
}
.navigation .navigationBurgerMenu .navigationBurgerMenuClose {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
.navigation .navigationBurgerMenu .side-bar-menu {
  position: fixed;
  top: 1%;
  left: 10px;
  bottom: 1%;
  width: 75%;
  max-width: 230px;
  height: 98%;
  background-color: rgb(250, 249, 252);
  z-index: 999;
  padding: 0 40px;
  box-shadow: rgba(0, 0, 0, 0.464) 0px 2px 20px;
  border-radius: 100px 25px 100px 25px;
  transition: 0.3s ease-out;
}
.navigation .navigationBurgerMenu .side-bar-menu.open {
  transform: translateX(0%);
  opacity: 0.95;
}
.navigation .navigationBurgerMenu .side-bar-menu:hover {
  scale: 101%;
}
.navigation .navigationBurgerMenu .side-bar-menu ul {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 720px) {
  .navigation .navigationBurgerMenu .side-bar-menu ul {
    display: flex;
  }
}
.navigation .navigationBurgerMenu .side-bar-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 150px;
  transition: 0.2s ease-out;
}
.navigation .navigationBurgerMenu .side-bar-menu ul li:hover {
  color: rgb(105, 105, 105);
  scale: 108%;
}
.navigation .navigationBurgerMenu:hover {
  color: rgb(105, 105, 105);
  transition: 0.3s ease-in;
}
.navigation .navigationBurgerMenu.open .navigationBurgerMenuOpen {
  display: none;
}
.navigation .navigationBurgerMenu.open .navigationBurgerMenuClose {
  display: block;
}
.navigation .navigationLogo {
  background: url(../../public/img/logo.png) center/cover;
  height: 50px;
  width: 207px;
  margin: auto;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 810px) {
  .navigation ul {
    justify-content: center;
    gap: 5%;
  }
}
@media screen and (max-width: 750px) {
  .navigation ul {
    gap: 1.5%;
    display: none;
  }
}
.navigation ul a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: 0.2s ease-out;
}
.navigation ul a:hover {
  cursor: pointer;
  color: rgb(105, 105, 105);
}
.navigation .navigation-shopping-basket {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .navigation-shopping-basket:hover {
  color: rgb(105, 105, 105);
  scale: 110%;
  transition: 0.3s ease-in;
}

.nav-active {
  position: relative;
}
.nav-active::after {
  content: "";
  height: 1px;
  width: 0;
  background: rgb(105, 105, 105);
  position: absolute;
  border-radius: 10px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 0.6s ease forwards;
}
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}

footer {
  background: rgb(20, 20, 20);
  background: linear-gradient(to right, rgb(20, 20, 20), rgb(210, 210, 210));
  color: rgb(250, 249, 252);
  border-radius: 3px;
  padding: 0 19px;
}
footer .footer-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
footer .footer-content .footer-logo-socials {
  display: grid;
  grid-template-columns: 397px 1fr;
  gap: 35px;
}
@media screen and (max-width: 662px) {
  footer .footer-content .footer-logo-socials {
    gap: 10px;
  }
}
@media screen and (max-width: 637px) {
  footer .footer-content .footer-logo-socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer .footer-content .footer-social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
@media screen and (max-width: 637px) {
  footer .footer-content .footer-social-media {
    gap: 20px;
  }
}
footer .footer-content .footer-social-media span {
  display: inline-block;
  font-size: 2rem;
  transition: 0.3s ease-out;
  cursor: pointer;
}
footer .footer-content .footer-social-media span:hover {
  color: rgb(20, 20, 20);
  scale: 105%;
}
footer .footer-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
footer .footer-newsletter h2 {
  color: rgb(250, 249, 252);
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 550;
  background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px), linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
  background-size: 0% 6px, 100% 6px;
  background-position: 0 bottom, 0 bottom;
  background-repeat: no-repeat;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
@media screen and (max-width: 388px) {
  footer .footer-newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
footer .footer-newsletter form input[type=email],
footer .footer-newsletter form input[type=submit] {
  font-family: "font1", sans-serif;
  font-size: 1rem;
  color: rgb(12, 12, 12);
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: rgb(250, 249, 252);
  padding: 5px 30px;
  margin: 0 5px;
}
footer .footer-newsletter form input[type=email]:focus,
footer .footer-newsletter form input[type=submit]:focus {
  background: rgb(12, 12, 12);
  color: rgb(250, 249, 252);
}
footer .footer-newsletter form input[type=email]::placeholder,
footer .footer-newsletter form input[type=submit]::placeholder {
  color: rgb(12, 12, 12);
  font-size: 1rem;
}
footer .footer-newsletter form input[type=email]::placeholder:focus,
footer .footer-newsletter form input[type=submit]::placeholder:focus {
  color: rgb(250, 249, 252);
}
@media screen and (max-width: 388px) {
  footer .footer-newsletter form input[type=email],
  footer .footer-newsletter form input[type=submit] {
    display: block;
  }
}
footer .footer-newsletter form input[type=submit] {
  text-transform: capitalize;
  background: rgb(20, 20, 20);
  color: rgb(250, 249, 252);
  cursor: pointer;
}
footer .footer-newsletter form input[type=submit]:hover {
  background: rgb(210, 210, 210);
}

header {
  max-width: 1200px;
  background: url(../../public/img/header-jean.jpg) center/cover;
  padding: 0 19px;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  transform: translateX(-100%);
  animation: animHeader 0.4s ease-out forwards;
}
@keyframes animHeader {
  to {
    transform: translateX(0);
  }
}
header .header-content {
  display: flex;
  gap: 10%;
  align-items: center;
  width: 93%;
  margin: 90px auto;
}
header .header-content .header-content-text {
  width: 80%;
}
header .header-content .header-content-text h1 {
  color: rgb(250, 249, 252);
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
header .header-content .header-content-text p {
  color: rgb(250, 249, 252);
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 26px;
}
header .header-content .header-button {
  color: rgb(250, 249, 252);
  font-size: 4rem;
  cursor: pointer;
}
header .header-content .header-button i {
  animation: animHeaderButton 1.8s ease-out forwards;
  animation-delay: 0.45s;
}
@keyframes animHeaderButton {
  to {
    rotate: 90deg;
  }
}/*# sourceMappingURL=index.css.map */